In [1]:
import pandas as pd

In [2]:
# библиотека, чтобы dataframe соответствовал структуре данных, нужных для загрузки в BigQuery
#!pip install pyarrow

In [3]:
df = pd.read_csv('zadanie.csv', sep=';' , decimal=',')
df.head()

,Дата,Регион,Канал,Тип,Цена,Маржинальность,Скидка
0,19.10.2020,Владимирская область,офлайн,Прихожая,15600,0.4926,0.0492
1,19.10.2020,Брянская область,онлайн,Шкаф-купе,32200,0.4273,0.0469
2,19.10.2020,Калужская область,офлайн,Стул,2600,0.5179,0.0120
3,19.10.2020,Владимирская область,онлайн,Шкаф-купе,37800,0.3734,0.0582
4,19.10.2020,Москва и Московская область,офлайн,Диван,27000,0.5645,0.0341

In [4]:
df['Дата'] = pd.to_datetime(df['Дата'],format='%d.%m.%Y') # переводим колонку из строки в дату

In [5]:
df.head()

,Дата,Регион,Канал,Тип,Цена,Маржинальность,Скидка
0,2020-10-19,Владимирская область,офлайн,Прихожая,15600,0.4926,0.0492
1,2020-10-19,Брянская область,онлайн,Шкаф-купе,32200,0.4273,0.0469
2,2020-10-19,Калужская область,офлайн,Стул,2600,0.5179,0.0120
3,2020-10-19,Владимирская область,онлайн,Шкаф-купе,37800,0.3734,0.0582
4,2020-10-19,Москва и Московская область,офлайн,Диван,27000,0.5645,0.0341

In [6]:
df.dtypes # проверяем форматы столбцов

Дата              datetime64[ns]
Регион                    object
Канал                     object
Тип                       object
Цена                       int64
Маржинальность           float64
Скидка                   float64
dtype: object

In [7]:
# пропишем названия столбцов на латинице, BQ не принимает кириллицу
df.columns = ['Date', 'Region', 'Channel', 'Type', 'Price', 'Margine', 'Discount']

In [8]:
df.head()

,Date,Region,Channel,Type,Price,Margine,Discount
0,2020-10-19,Владимирская область,офлайн,Прихожая,15600,0.4926,0.0492
1,2020-10-19,Брянская область,онлайн,Шкаф-купе,32200,0.4273,0.0469
2,2020-10-19,Калужская область,офлайн,Стул,2600,0.5179,0.0120
3,2020-10-19,Владимирская область,онлайн,Шкаф-купе,37800,0.3734,0.0582
4,2020-10-19,Москва и Московская область,офлайн,Диван,27000,0.5645,0.0341

In [9]:
#pip install --upgrade google-cloud-bigquery

In [10]:
from google.cloud import bigquery

In [11]:
client = bigquery.Client.from_service_account_json('domaska-56ab3d52cbd2.json')

In [12]:
dataset_ref = client.dataset('dataset_1') # Определяем набор данных

In [13]:
dataset_bq = bigquery.Dataset(dataset_ref)
dataset = client.create_dataset(dataset_bq) # Создаем датасет

In [14]:
table_ref = dataset_ref.table('table_1') # Определяем таблицу

In [15]:
# Передаём датафрейм в таблицу BigQuery
result = client.load_table_from_dataframe(df, table_ref).result()